@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.container {
    padding-top: 10px;
}

* {
    font-family: 'Roboto', sans-serif;
    position: relative;
}

body {
    font-family: 'Rosario';
}

.orangeDiv {
    background-color: orangered;
    width: 100%;
    margin-top: -0px;
    text-align: center;


}

.centerTable {
    margin: 0px auto;
}

h1 {
    padding-left: 100px;
}

.boxed {
    border: 0.5px solid rgb(220, 217, 217);
}

/* this styling for sticky navigation bar */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);

}


/* this is button styles  on second navigation bar */

.pages button {
    height: 50px;
    width: 130px;
    border-radius: 30px;
    -webkit-box-shadow: 0px 0px 12px #666666;
    -moz-box-shadow: 0px 0px 12px #666666;
    box-shadow: 0px 0px 12px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    background: orangered;
    padding: 5px 5px 5px 5px;
    text-decoration: none;

}

.pages button:hover {
    text-decoration: none;
    background-color: orange;
}

.pages a {
    color: black;
    size: 40px;
    text-decoration: none;
    font-size: 16px;

}

.pages a:hover {
    text-decoration: none;
    color: orangered;
}

.dropdown1 {
    text-decoration: none;
}

.dropdown1:hover {
    text-decoration: none;
    color: orangered;
}


/* breadcrumb styleing */


.breadcrumb a {
    color: black;
    text-decoration: none;

}

.breadcrumb a:hover {
    text-decoration: none;
    color: orangered;
}

.breadcrumb {
    margin-left: 25px;
    margin-right: 25px;
}


/* product card in cart css*/
.cartProduct{
    margin: 2rem 0rem 1rem;
    display: block;
}
.cartProduct strong{
    font-size: larger;
}
/* quantity selector css */
.cartProduct select{
    border: 0px;background-color: rgb(238, 238, 238);border-radius: 15px;
}
.cartProduct .selector{
    height: 40%;
    align-items: flex-end;
}
/* cart product image css */
.cartProduct img[alt="product image"]{
    max-height: 15rem;
    margin-bottom: 0.5rem;
}
/* cart product card price div with text right*/
.cartProduct .row .col-md-3{
    text-align: right;
}

/* cart product card price div with text left for small screen size*/
@media screen and (max-width:767px){
    .cartProduct .row .col-md-3{
        text-align: left;
        margin-top: 1rem;
    }
}
/* cart product buttons to remove & add to wishlist */
/* button with white background & hover effect & active state */
.cartProduct button{
    display: inline;
    background-color: white;
    font-weight: bolder;
    border: 0px;
    border-radius: 15px;
    width: 10rem;
    height: 2rem;
    margin: 0rem 1rem 0rem;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}
.cartProduct button:hover{
    background-color: rgb(238, 238, 238);
    transform: scale(1.1);
}
.cartProduct button:active{
    background-color: rgb(209, 209, 209);
    transform: scale(0.9);
}
@media screen and (max-width:420px){
    .cartProduct button{
        width: 6rem;
        height: 3rem;
        margin: 0px;
       margin-bottom: 1rem;
    }
}
/* bill , p & strong css */
#bill {
    margin-top: 4.2rem;
}
#bill p,strong{
    display: inline;
    margin-bottom: 0rem;
    line-height: 200%;
}
/* coupon apply button in bill with hover effect & active state */
.applyBtn{
    background-color: white;
    color: orangered;
    border: 2px solid orangered;
    border-radius: 8px;
    float: right;
    transform: scale(1.1);
    margin: -5px 0px 0px;
    padding-bottom: 5px;
    width: 5rem;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
}
.applyBtn:hover{
    transform: scale(1.3);
    background-color: orangered;
    color: white;
    opacity: 70%;
}
.applyBtn:active{
    transform: scale(1);
    opacity: 100%;
}

select{
    padding: 10px 10px;
}
.rectbtn1{
    /* border: 1px solid black; */
    border-radius: 10px;
    text-decoration: none;
    background: orangered;
    color: wheat;
    transition: all 0.2s;
}
.rectbtn1:hover{
    text-decoration: none;
    background: rgb(121, 40, 10);
}
.placeorder:hover{
    text-decoration: none;
}

/* to top button */

.moreinfo .scrollUp img {
    cursor: pointer;
}